{% extends "base.html" %}

{% block title %}Mi perfil{% endblock title %}


{% block main %}
<div class="row pt-3">
    <div class="col-md-3">
        <h4>Hola {{ request.user.first_name }}</h4>
        <div class="list-group">
            <a class="list-group-item list-group-item-action {% if section == 'perfil' %}active{% endif %}" href="/perfil/">Actualizar perfil</a>
            <a class="list-group-item list-group-item-action {% if section == 'contraseña' %}active{% endif %}" href="/perfil/contrasena/">Cambiar contraseña</a>
            <a class="list-group-item list-group-item-action {% if section == 'direcciones' %}active{% endif %}" href="/perfil/direcciones/">Administrar direcciones</a>
            <a class="list-group-item list-group-item-action {% if section == 'pedidos' %}active{% endif %}" href="/perfil/pedidos/">Ver pedidos</a>
        </div>
    </div>
    <div class="col-md-9">
        {% block subcontent %}
        <h4>Actualizar perfil</h4>
        <form class="form" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="username" name="username" value="{{ request.user.username }}" readonly disabled>
                <label for="username">Nombre de usuario</label>
                <div class="form-text">{{ form.username.errors }}</div>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ request.user.first_name }}"  required>
                <label for="first_name">Nombre(s)</label>
                <div class="form-text">{{ form.first_name.errors }}</div>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="last_name" name="last_name"  value="{{ request.user.last_name }}"  required>
                <label for="last_name">Apellido(s)</label>
                <div class="form-text">{{ form.last_name.errors }}</div>
            </div>
            <div class="form-floating mb-2">
                <input type="email" class="form-control" id="email" name="email"  value="{{ request.user.email }}"  required>
                <label for="email">Correo electrónico</label>
                <div class="form-text">{{ form.email.errors }}</div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-warning btn-lg mb-3" type="submit" name="submit">
                    Actualizar mis datos
                </button>
            </div>
        </form>
        {% endblock subcontent %}
    </div>
</div>
{% endblock main %}
