{% extends "base.html" %}

{% block title %}Productos{% endblock title %}


{% block main %}
    <div class="row">
    {% for product in products %}
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="my-3 py-3">
                    <h2>{{ product.nombre }}</h2>
                    <p class="text-truncate">{{ product.descripcion }}</p>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="{{ product.imagen }}" alt="{{ product.nombre }}" height="100%">
                </div>
                <div class="my-3 py-3">
                    <p>Precio unitario <strong>{{ product.moneda }} {{ product.precio }}</strong></p>
                </div>
                <div class="my-3 py-3">
                    <button type="button" class="btn btn-primary">Ver detalles</button>
                    <button type="button" class="btn btn-warning" onclick="add_to_carrito({{ product.id }});">Añadir al carrito</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock main %}
